@model YTE.BusinessLogic.Implementation.Manga.Model.CreateMangaModel


<h1 class="py-3">Add a New Manga</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Title</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Creator</label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Release date</label>
                <input asp-for="ReleaseDate" type="month" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Language</label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Synopsis</label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Number of volumes</label>
                <input asp-for="NoVolumes" class="form-control" />
                <span asp-validation-for="NoVolumes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Number of chapters</label>
                <input asp-for="NoChapters" class="form-control" />
                <span asp-validation-for="NoChapters" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFinished" /> Is this manga finished?
                </label>
            </div>
            <div class="form-group">
                <label asp-for="selectedGenres" class="control-label">Select Genres</label>
                <select id="Genre" asp-for="selectedGenres" class="form-control select" asp-items="@(new SelectList(string.Empty,"Value","Text"))" multiple></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Manga/List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/manga-genre-multiselect.js"></script>
}
