input[type=text] {
    width: 130px;
    height: 38px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 10px 12px 10px;
    transition: width 0.4s ease-in-out;
}

    input[type=text]:focus {
        width: 40%;
    }
