@model YTE.BusinessLogic.Implementation.ForbiddenWord.Model.CreateForbiddenWordModel


<h1 class="py-3">Create a forbidden word</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/ForbiddenWord/Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Word</label>
                <input asp-for="Word" class="form-control" />
                <span asp-validation-for="Word" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/ForbiddenWord/List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
