@model IEnumerable<YTE.BusinessLogic.Implementation.ForbiddenWord.Model.ListForbiddenWordModel>



<h1 class="py-3">List of forbidden words</h1>


<a class="btn btn-outline-success" href="/ForbiddenWord/Create" style="float:right" >Create forbidden word</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Word
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Word
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#ModalDeleteWord_@item.Id">
                        Delete
                    </button>

                    <div class="modal fade" id="ModalDeleteWord_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Delete <i>@item.Word</i> from the list</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete <i>@item.Word</i> from the list?
                                    <br />
                                    <a href="/ForbiddenWord/Delete/@item.Id" type="submit" class="btn btn-danger">Yes</a>
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script src="~/js/delete.js"></script>

}

