@model YTE.BusinessLogic.Implementation.Genre.Model.CreateGenreModel

<h1 class="py-3">Create a new Genre</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Type of Genre</label>
                <select id="genre-dropdown" class="form-control" asp-for="GenreType" asp-items="@(new SelectList(string.Empty,"Value","Text"))"></select>
                <span asp-validation-for="GenreType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Genre name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Genre/List">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/genre-dropdown.js"></script>
}
