@model IEnumerable<YTE.BusinessLogic.Implementation.Genre.Model.ListGenreModel>

<h1 class="py-3">List of Genres</h1>

<div class="btn-group" role="group">

    <a type="button" class="btn btn-outline-dark" href="/Genre/List/2">Film genres</a>
    <a type="button" class="btn btn-outline-dark" href="/Genre/List/1">Manga genres</a>
    <a type="button" class="btn btn-outline-dark" href="/Genre/List/3">Video game genres</a>
    <a type="button" class="btn btn-outline-dark" href="/Genre/List/4">Book genres</a>
    <a type="button" class="btn btn-outline-dark" href="/Genre/List/5">Album genres</a>
    <a type="button" class="btn btn-outline-dark" href="/Genre/List/">All genres</a>
</div>
<a class="btn btn-outline-success" href="/Genre/Create" style="float:right">Create new genre</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Genre name
            </th>
            <th>
                Type of genre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Name
                </td>
                <td>
                    @{
                        switch (@item.GenreType)
                        {
                            case 1:
                                <p>Manga Genre</p>
                                break;
                            case 2:
                                <p>Film Genre</p>
                                break;
                            case 3:
                                <p>VideoGame Genre</p>
                                break;
                            case 4:
                                <p>Book Genre</p>
                                break;
                            case 5:
                                <p>Album Genre</p>
                                break;
                            default:
                                break;
                        }
                    }

                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#ModalDeleteGenre_@item.Id">
                        Delete
                    </button>

                    <div class="modal fade" id="ModalDeleteGenre_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Delete <i>@item.Name</i> genre</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete <i>@item.Name</i> genre?
                                    <br />
                                    <a href="/Genre/Delete/@item.Id/@item.GenreType" type="submit" class="btn btn-danger">Yes</a>
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
