@model YTE.BusinessLogic.Implementation.Account.Model.EditUserAccountModel


<h1 class="py-3">Edit your account</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control lol" type="hidden" />
            <div class="form-group">
                <label class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">UserName</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Pronoun</label>
                <input asp-for="Pronoun" class="form-control" />
                <span asp-validation-for="Pronoun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date of Birth</label>
                <input asp-for="Age" type="date" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Profile picture</label>
                <input type="file" asp-for="Image" accept=".png, .jpg, .jpeg, .gif" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Gender</label>
                <select id="gender-dropdown" class="form-control" asp-for="GenderId" asp-items="@(new SelectList(string.Empty,"Value","Text"))"></select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WantsNotifications" /> @Html.DisplayNameFor(model => model.WantsNotifications)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>

                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            
        </form>
        <button class="btn btn-outline-info" data-toggle="popover" title="Confirm Password" style="margin: 0; padding: 0; font-size: 14px;  border-radius: 50%;  width: 37px; height: 37px; transition: transform 2s; position: relative; " data-content="For security reasons you have to confirm your password for every preference change.">i</button>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary" href="/UserAccount/Details">Back to Account Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/gender-dropdown-ss.js"></script>
    <script src="~/js/add-popover.js"></script>

}
