@model YTE.BusinessLogic.Implementation.Account.Model.ForgotPassModel

@if (!Model.AreCredentialsValid)
{
    <p class="py-3">Some error has occured. Try to insert your email again. If the problem persists contact us.</p>
    <div>
        <a href="/Home/Index">Back to Home</a>
        <form action="/UserAccount/ResetPassConfirmation" method="get">
            <div class="form-actions no-color">
                <p>
                    Forgot your password? <br />
                    Insert your mail here: <input type="email" name="id" />
                    <input type="submit" value="Send" class="btn btn-primary" />

                </p>
            </div>
        </form>
    </div>
}
else
{

    <div class="row class="py-3"">
        <div class="col-md-4">
            <form action="/UserAccount/ResetPassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input hidden asp-for="TokenId" />
                <input hidden asp-for="UserId" />
                <input hidden asp-for="AreCredentialsValid" />
                <div class="form-group">
                    <label class="control-label">New password</label>
                    <button type="button" class="btn btn-outline-info" id="pop" data-toggle="popover" title="Password requirements"  style="margin: 3px; padding: 0; font-size: 14px;  border-radius: 50%;  width: 37px; height: 37px; transition: transform 2s; position: relative; " data-content="The password must have between 8 and 25 characters. It also must have at least one uppercase, one lowercase letter, one digit and a special character ('@@#$%^&+=!*')">i</button>
                    <input asp-for="NewPassword" type="password" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Confirm new password</label>
                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Change" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/add-popover.js"></script>
}